{% if settings.show_carousel %}
  <div id="carousel-wrapper">
    <div id="carousel"> 
      <a id="carousel-prev" class="prev browse left" title="Previous slide"><span class="arrow ir">Next</span></a>
      <a id="carousel-next" class="next browse right" title="Next slide"><span class="arrow ir">Previous</span></a>              
          
      <ol class="items">
        
        {% if settings.show_carousel_item_1 %}
        <li>
          {% if settings.carousel_item_1_link != empty %}
            {{ settings.carousel_item_1_image | asset_url | img_tag: settings.carousel_item_1_alt | link_to: settings.carousel_item_1_link }}
          {% else %}
          	{{ settings.carousel_item_1_image | asset_url | img_tag: settings.carousel_item_1_alt }}
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_2 %}
        <li>
          {% if settings.carousel_item_2_link != empty %}
          	{{ settings.carousel_item_2_image | asset_url | img_tag: settings.carousel_item_2_alt | link_to: settings.carousel_item_2_link }}
          {% else %}
            {{ 'settings.carousel_item_2_image | asset_url | img_tag: settings.carousel_item_2_alt }}
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_3 %}
        <li>
          {% if settings.carousel_item_3_link != empty %}
          	{{ settings.carousel_item_3_image | asset_url | img_tag: settings.carousel_item_3_alt | link_to: settings.carousel_item_3_link }}
          {% else %}
            {{ settings.carousel_item_3_image | asset_url | img_tag: settings.carousel_item_3_alt }}
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_4 %}
        <li>
          {% if settings.carousel_item_4_link != empty %}        
          	{{ settings.carousel_item_4_image | asset_url | img_tag: settings.carousel_item_4_alt | link_to: settings.carousel_item_4_link }}
          {% else %}
            {{ settings.carousel_item_4_image | asset_url | img_tag: settings.carousel_item_4_alt }}
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_5 %}
        <li>
          {% if settings.carousel_item_5_link != empty %}        
          	{{ settings.carousel_item_5_image | asset_url | img_tag: settings.carousel_item_5_alt | link_to: settings.carousel_item_5_link }}
          {% else %}
            {{ settings.carousel_item_5_image | asset_url | img_tag: settings.carousel_item_5_alt }}
          {%endif%}
        </li>
        {% endif %}
      
        {% if settings.show_carousel_item_6 %}
        <li>
          {% if settings.carousel_item_6_link != empty %}      
            {{ settings.carousel_item_6_image | asset_url | img_tag: settings.carousel_item_6_alt | link_to: settings.carousel_item_6_link }}
          {% else %}
            {{ settings.carousel_item_6_image | asset_url | img_tag: settings.carousel_item_6_alt }}
          {%endif%}
        </li>
        {% endif %}                                 

      </ol>  
    </div>
    {% if settings.show_carousel_dots %}
        <div id="carousel-slide-menu"></div>
    {% endif %}
  </div>
{% endif %}