<div class="upsale-container">
  <div class="upsale-overlay"></div>
  <div class="upsale-modal">
    <header>
      <h2>Special offer before you go!</h2>
      <div id="product-price-large"></div>
      
      <div class="clearfix"></div>
      <hr />
    </header>
    
    <div class="product">
      <div id="product-thumbnail"></div>
      <h1 id="product-name"></h1>
      
      <hr />
      <div id="product-description"></div>
      <hr />
      
      <div id="product-price">
        This great product for just: <span></span>
      </div>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="actions">
      <button type="button" id="no-thanks">No Thanks</button>
      <button type="button" id="add-to-cart">Add To Cart</button>
    </div>
  </div>
</div>