<!-- Widget: Contact -->
<div class="widget widget-linklist" id="widget-allvendors">
  <div class="widget-header">
    <h3>{{ settings.contact_widget_title }}</h3>
  </div>
  <div class="widget-content">
    <b>{{ shop.name }}</b><br />
  	{{ if settings.contact_widget_show_address }}
    {{ settings.contact_address }}<br />
    {{ settings.contact_address2 }}<br />
    {{ settings.contact_city }}, {{ settings.contact_state }} {{ settings.contact_zip_code }}<br />
  	{{ endif }}
    
    {{ if settings.contact_widget_office_number }}
    <br /><b>Main Office</b><br />
    {{ settings.office_number }}<br />
    {{ endif }}
    
    {{ if settings.contact_widget_sales_number }}
    <br /><b>Sales</b><br />
    {{ settings.sales_number }}<br />
    {{ endif }}
    
    {{ if settings.contact_widget_fax_number }}
    <br /><b>Fax</b><br />
    {{ settings.fax_number }}<br />
    {{ endif }}
    
  </div>    
</div><!-- /.widget -->