<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="canonical" href="{{ canonical_url }}" />

  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}

  {% if template == 'index' %}
   <title>{{ shop.name }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
   <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% include 'fb-open-graph' %}

  {% case settings.header_font %}
  {% when "Rancho, cursive" %}
    <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
  {% when "'Amatic SC', cursive" %}
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  {% when "'Sancreek', cursive" %}
    <link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
  {% when "'Ubuntu Condensed', sans-serif" %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  {% endcase %}

  <link href="{{ 'style.css' | asset_url }}" rel="stylesheet" type="text/css" media="screen" />
  
  {% if template contains 'product' and settings.main_image_display == 'Lightbox' %}
  {{ 'jquery.fancybox-1.3.4.css' | asset_url | stylesheet_tag }}
  {% endif %}
  
  {{ 'https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js' | script_tag }}
  {{ 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js' | script_tag }}
  
  {% if page.handle == 'faqs' %}
  {{ 'accordin.css' | asset_url | stylesheet_tag }}
  {{ 'accordin.js' | asset_url | script_tag }}
  {% endif %}
  
  {% if page.handle == 'redeem' %}
  {{ 'redeem.css' | asset_url | stylesheet_tag }}
  {{ 'xdr.min.js' | asset_url | script_tag }}
  {{ 'redeem.js' | asset_url | script_tag }}
  {% endif %}
  
  {{ 'modernizr.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  
  <link href="{{ 'responsive.css' | asset_url }}" rel="stylesheet" type="text/css" media="screen" />

  {{ content_for_header }}

</head>

<body class="{% if customer %}customer-logged-in {% endif %}template{{ template | split: '.' | first | camelize }}">


  <div class="wrapper">

    <!-- Header -->
    <header id="top" class="clearfix">
			
			<!--Navbar mobile button-->
			<button type="button" class="mobileNavBtn">
				<span class="icon-bar"></span>
        <span class="icon-bar"></span>
				<span class="icon-bar"></span>
      </button>
			
      {% if settings.show_header_search %}
      <form id="header-search" action="/search" method="get">
        <label for="top-search-input" class="visuallyhidden">Search</label>
        <input type="text" id="top-search-input" name="q" class="search-input" value="" accesskey="4"  autocomplete="off" placeholder="Search" />
        <input type="submit" id="top-search-submit" class="search-submit ir" value="Search" />
      </form>
      {% endif %}
      
      <div class="mainLogo">
        <a href="/" title="Home">
          {% if settings.logo_image %}
            <img src="{{ settings.logo_image }}" alt="{{ shop.name | escape }}" />
          {% else %}
            {{ shop.name | escape }}
          {% endif %}
        </a>
      </div>
      
      <nav id="top-menu" class="clearfix">
        <ul>
          {% for link in linklists.main-menu.links %}
          <li class="{% if forloop.first %}first{% elsif forloop.last %}last{%endif%}">
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            <div class="has-dropdown">
              <a href="{{ link.url }}" class="clearfix">
                <span class="nav-label">{{ link.title | escape }}</span>
                <span class="nav-arrow"></span>
              </a>
              <ul>
                {% for childlink in linklists[child_list_handle].links %}
                <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endfor %}
              </ul>
            </div>
            {% else %}
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
      
      <!-- Mobile Navigation -->
      <nav id="mobile-menu" class="clearfix">
        <ul>
          {% for link in linklists.main-menu.links %}
          <li class="{% if forloop.first %}first{% elsif forloop.last %}last{%endif%}">
            {% assign child_list_handle = link.title | handleize %}
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      <div id="umbrella">
        <ul>
          
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
            <li>
              Welcome {{ customer.first_name }} {{ '(Log out)' | customer_logout_link }}
            </li>
            <li>
              <a href="/account">My Account</a>
            </li>
            {% else %}
            <li>
              {{ 'Log in' | customer_login_link }}
            </li>
            {% if shop.customer_accounts_optional %} 
            <li>
              {{ 'Create an account' | customer_register_link }}
            </li>
            {% endif %}
            {% endif %}
          {% endif %}

          <li class="cart-link">
            <a href="/cart" class="num-items-in-cart">
              <span class="icon">
               {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}
              </span>
            </a>
          </li>

          <li class="checkout-link">
            <a href="/cart" class="btn">Check out</a>
          </li>

        </ul>
      </div><!-- /#umbrella -->
    </header>

    <!-- Content -->
    <div class="content-wrapper clearfix">

      {% if template == 'list-collections' %}
        {% include 'collection-listing' %}
      {% else %}
        {{ content_for_layout }}
      {% endif %}

      {% unless template contains "customer" or template contains "cart" or template contains "index" or template contains "opportunities" %}
        {% include 'col-widgets' %}
      {% endunless %}

    </div><!-- /.content -->

    <!-- Footer -->
    <footer id="bottom">

      <div id="footer-left">
        <ul id="footer-nav" class="clearfix">
        {% for link in linklists.[settings.footer_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {% endfor %}
        </ul>
        <p>&copy; {{ 'now' | date: '%Y' }} <a href="/">{{ shop.name }}</a>. All Rights Reserved.</p>
      </div>
      
      <div id="footer-right">
        <ul id="sm-icons" class="clearfix">
          {% if settings.twitter_link != '' %}<li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="icon-social twitter ir">Twitter</a></li>{% endif %}
          {% if settings.facebook_link != '' %}<li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="icon-social facebook ir">Facebook</a></li>{% endif %}
          {% if settings.youtube_link != '' %}<li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" class="icon-social youtube ir">YouTube</a></li>{% endif %}
          {% if settings.atom_link != '' %}<li><a href="{{ settings.atom_link }}" title="{{ shop.name }} news" class="icon-social atom ir">Blog feed</a></li>{% endif %}
          {% if settings.instagram_link != '' %}<li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" class="icon-social instagram ir">Instagram</a></li>{% endif %}
          {% if settings.pinterest_link != '' %}<li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" class="icon-social pinterest ir">Pinterest</a></li>{% endif %}
          {% if settings.vimeo_link != '' %}<li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" class="icon-social vimeo ir">Vimeo</a></li>{% endif %}
          {% if settings.tumblr_link != '' %}<li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="icon-social tumblr ir">Tumblr</a></li>{% endif %}
          {% if settings.google_link != '' %}<li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" class="icon-social google ir">Google+</a></li>{% endif %}
        </ul>
      </div>

      {% if settings.show_amex or settings.show_discover or settings.show_visa or settings.show_mastercard or settings.show_maestro or settings.show_cirrus or settings.show_paypal or settings.show_google %}
      <div id="footer-payment-methods">
        <p>Payment methods we accept</p>
        {% if settings.show_amex %}       {{ 'cc-amex.png' | asset_url | img_tag }} {% endif %}
        {% if settings.show_discover %}   {{ 'cc-discover.png' | asset_url | img_tag }} {% endif %}
        {% if settings.show_visa %}       {{ 'cc-visa.png' | asset_url | img_tag }} {% endif %}
        {% if settings.show_mastercard %} {{ 'cc-mastercard.png' | asset_url | img_tag }} {% endif %}
        {% if settings.show_maestro %}    {{ 'cc-maestro.png' | asset_url | img_tag }} {% endif %}
        {% if settings.show_cirrus %}     {{ 'cc-cirrus.png' | asset_url | img_tag }} {% endif %}
        {% if settings.show_paypal %}     {{ 'cc-paypal.png' | asset_url | img_tag }} {% endif %}
        {% if settings.show_google %}     {{ 'cc-google.png' | asset_url | img_tag }} {% endif %}
      </div>
      {% endif %}

    </footer>
    
  </div><!-- /.wrapper -->

  <!--[if lt IE 8]>
  <script>
    // IE 6+7 do not calculate the width of the #umbrella properly
    $('#umbrella').width( $('#umbrella ul').width() );
  </script>
  <![endif]-->

  {% if settings.twitterwidget_visible and settings.show_right_column %}
    {{ 'jquery.tweet.js' | asset_url | script_tag }}
    <script>
      $(".tweets-wrapper").tweet(
        {
          count: {{ settings.twitterwidget_numtweets }},
          username: "{{ settings.twitterwidget_username }}",
          loading_text: "loading tweets...",
          template: function(i){ return i["text"]
        }
      });
    </script>
  {% endif %}

  {% if product.available %}
  <script>
    var selectCallback = function(variant, selector) {
      if (variant && variant.available) {
        // selected a valid variant
        $('#add-to-cart').removeClass('disabled').removeAttr('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
        if(variant.compare_at_price == null){
          $('.options .price').html('<strong>'+Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}")+'</strong>');
        } else {
          $('.options .price').html('<strong>'+Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}") + '</strong> <span class="compare_at_price">was <del>' + Shopify.formatMoney(variant.compare_at_price, "{{shop.money_with_currency_format}}") + '</del></span>');
        }
      } else {
        $('#add-to-cart').addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
        var message = variant ? "Sold Out" : "Unavailable";
        $('.options .price').text(message); // update price-field message
      }
    };

    // initialize multi selector for product
    $(function() {
      new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
      
      // Add label if only one product option and it isn't 'Title'.
      {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
      {% endif %}
  
      // Auto-select first available variant on page load.
      {% assign found_one_in_stock = false %}
      {% for variant in product.variants %}
        {% if variant.available and found_one_in_stock == false %}
          {% assign found_one_in_stock = true %}
          {% for option in product.options %}
            $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
          {% endfor %}
        {% endif %}
      {% endfor %}
      
    });
  </script>
  {% endif %}

  {% if template == 'index' and settings.show_carousel %}
    {{ 'jquery.tools.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'product' and settings.main_image_display == 'Lightbox' %}
  {{ 'jquery.easing-1.3.pack.js' | asset_url | script_tag }}
  {{ 'jquery.mousewheel-3.0.4.pack.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox-1.3.4.pack.js' | asset_url | script_tag }}
  <script>
  $("a[rel='fancybox']").fancybox({
    'hideOnContentClick': true
  });
  </script>
  {% endif %}

  {{ 'enhance.jquery.js' | asset_url | script_tag }}
  {{ 'hoverintent.jquery.js' | asset_url | script_tag }}
  {{ 'radiance.js' | asset_url | script_tag }}

  <script type="text/javascript" charset="utf-8">
  //<![CDATA[

  // Including api.jquery.js conditionnally.
  if (typeof Shopify.onCartShippingRatesUpdate === 'undefined') {
    document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
  }

  //]]>
  </script>

</body>
</html>
