/** 
 * Radiance
 * Checkout CSS
 * 
 * Custom checkout CSS is disabled by default.
 * To enable it, rename this file to "checkout.css.liquid".
 */
 

{%if settings.header_font == 'BebasNeueRegular, arial, sans-serif' %}
/** 
 * See: http://www.fontsquirrel.com/fonts/bebas-neue
 * Redistributed in this theme with permission from Dharma Type - March 26, 2011 
 */

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeue-webfont.eot');
  src: url('BebasNeue-webfont.eot?iefix') format('eot'),
       url('BebasNeue-webfont.woff') format('woff'),
       url('BebasNeue-webfont.ttf') format('truetype'),
       url('BebasNeue-webfont.svg#webfontfvFLBU0N') format('svg');
  font-weight: normal;
  font-style: normal;
  }
{% endif %}


/** 
 * Background 
 */
{% if settings.body_bg_img != "none" %}
  html{ 
  {% case settings.body_bg_alignment %}
    {% when 'center' %}
    background: url({{ settings.body_bg_img | asset_url }}) 50% 0 no-repeat; 
      
    {% when 'left' %}
    background: url({{ settings.body_bg_img | asset_url }}) 0 0 no-repeat; 

    {% when 'right' %}
    background: url({{ settings.body_bg_img | asset_url }}) 100% 0 no-repeat; 

    {% when 'tile' %}
    background: url({{ settings.body_bg_img | asset_url }}) 0 0; 
    
  {% endcase %}
  }
{% endif %}

html{ background-color: {{ settings.bg_colour }} }

body, #main, #container, #header, #footer { background: transparent !important; }


/** 
 * Generic
 */

body { 
  font:13px/1.231 {{settings.general_font}}; 
  *font-size:small; 
  color: {{ settings.content_text_colour }}; 
  } 

input, textarea { 
  color: #333;
  font-size: 13px;
  font-family: {{settings.general_font}};
  }

label{ 
  font-weight: normal; 
  font-size: 12px;
  }

h1, h2, h3, h4, h5, h6 { 
  color: {{ settings.content_header_colour }}; 
  line-height: 1.2;
  font-weight: bold; 
  margin: 0 0 .5em 0;
  text-shadow: none !important;
  }

a { color: {{ settings.content_link_colour }}; }
a:hover { color: {{ settings.content_link_hover_colour}} }



/** 
 * Layout
 */
#container{
  width: 980px;
  margin: 0 auto;
  }
#main,
#container.slim #main,
#footer{
  padding: 0;
  width: auto;
  }

#content{
  width: 100%;
  padding: 0;
  border-bottom: 5px solid #f9f9f9;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  -o-box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  }


#container{ font-size: 100%; } 

#container.slim{ width: 740px; }
#container.slim #main{ width: auto;}  

#addresses{
  background: {{ settings.content_bg_colour }};
  }

#email,
.group{
  width: 700px;
  margin: 0 0 20px 0;  
  padding: 20px;    
  background: {{ settings.content_bg_colour }};
  line-height: 1.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  }
.group{
  float: left;
  }

.group h3,
.pgroup h3,
#email label{
  font-weight: bold !important;
  color: {{ settings.content_header_colour }};
  margin: 0 0 12px 0;
  padding: 0 0 8px 0;
  border-bottom: dotted 1px {{ settings.content_secondary_colour }};  
  }

#content #discounts{
  padding: 20px;
  }

#content form {
  padding: 20px;
  }
  
  
/** 
 * Umbrella 
 */ 
#info-bar{
  display: none;
  }
  

/** 
 * Header
 */
#header{
  width: 100%;
  padding: 0;
  margin: 14px 0 30px 0;
  border-top: 2px solid #1bc4de;
  border-bottom: 5px solid #f9f9f9;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  -o-box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  }

#header h1{
  padding: 0;
  }
#tagline{
  {%if settings.header_font == 'BebasNeueRegular, arial, sans-serif' %}
    font: 48px/1.0 {{settings.header_font}};
  {% else %}
    font: bold 36px/1.0 {{settings.header_font}};
  {% endif %}
  color: {{settings.logo_colour}};
  margin: 25px 0;
  }
#tagline .subtitle{
  display: none;
  }

{% if settings.checkout_logo_image != "" %}
#logo{
  width: 100%;
  height: 160px;
  background: url({{ settings.checkout_logo_image | asset_url }}) 0 70% no-repeat;
  padding: 0;
  margin: 0 0 0 25px;
  }
#tagline{ display: none; }
{% endif %}

/** 
 * Overview
 */

 #overview{ /* styles from widgets in right column */
  width: 195px;
  padding: 150px 10px 10px 10px; /* make some room for the "wallet" */  
  float: right;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  margin: 0 0 20px 0;
  position: relative;
  background: {{settings.widget_bg_colour}};
  overflow: hidden; height: 1%;
  }

#overview h2{
  display: none; /* hide: you know you're purchasing these things. */
  color: {{ settings.widget_text_colour }};
  text-align: center;
  }

#overview #products{
  width: auto;
  float: none;
  border: none;
  }
#overview #wallet{
  margin: 0; padding: 10px;
  width: 175px;
  height: 120px;
  position: absolute; top: 10px;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }
#overview #cost{
  color: {{settings.widget_title_colour}};
  {%if settings.header_font == 'BebasNeueRegular, arial, sans-serif' %}
    font: 42px/1.0 {{settings.header_font}};
  {% else %}
    font: bold 36px/1.0 {{settings.header_font}};
  {% endif %}
  text-shadow: none;
  border-bottom: dotted 1px {{settings.widget_divider_colour}};
  }
#overview .hint{
  color: {{settings.widget_title_colour}};
  margin: 0 0 3px 0;
  display: block;
  }
#overview #steps{
  margin: 0; padding: 0 0 8px 0;
  display: block;
  font: normal 13px {{settings.general_font}};
  border-bottom: dotted 1px {{settings.widget_divider_colour}};  
  }
#overview br{ display: none; }

#overview #thumbs{
  margin: 0;
  border-collapse: collapse;
  }
#overview #thumbs td{
  overflow: hidden; height: 1%;
  font-size: 100%;
  text-align: center;
  vertical-align: top;
  padding: 4px;
  border: dotted 1px {{settings.widget_divider_colour}}
  }
#overview #thumbs div{
  float: none;
  width: 100%; height: auto;
  border: none;
  margin: 0 0 10px 0; padding: 0;
  }
#overview #thumbs img{ 
  display: block; 
  margin: 0 auto;
  padding: 1px;
  border: solid 1px {{ settings.content_secondary_colour }};  
  }

#overview #thumbs h3{ color: {{settings.widget_title_colour}}; }
#overview #thumbs span{ color: {{ settings.widget_text_colour }}; }

.slim #overview{ display: none; }

/** 
 * Checkout Form 
 */

.form{ width: 100%; }
.form label{ font-weight: normal; }

.form td{ padding: 5px 0; }
.form td.lbl{ width: 165px; text-align: right; padding-right: 8px; }
.form td input{ font-size: 13px; width: 200px; }

.form .inline li{ 
  float: none;
  width: 100% !important; 
  margin: 0 !important; 
  overflow: hidden;
  height: 1%;
  padding: 0 0 8px 0;
  }
.form .inline label{
  float: left;
  width: 95px; text-align: right; padding-right: 8px;
  }
.form .inline select{
  float: left;
  }
#billing_address_province_li,
#shipping_address_province_li{ padding: 0; }

/* Form Errors */
.field-with-errors{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;    
  }

/* Billing/Shipping Addresses */
#addresses{
  overflow: hidden;
  height: 1%;
  }

#addresses .gleft,
#addresses .gright{
  width: 330px;
  padding: 0;
  margin: 0;
  }
#addresses .gleft{ 
  float: left; 
  border-right: solid 1px {{ settings.content_secondary_colour }};
  padding-right: 20px;
  }
#addresses .gright{ float: right; }

#billing_address_phone{
  margin: 0 0 10px 0;
  }
#billing-is-shipping td{
  border: solid 1px {{ settings.footer_bg_colour }};
  padding: 5px;
  }

#addresses #shipping-same.address-notification{
  padding: 10px;
  text-align: left;
  background: {{ settings.footer_bg_colour }} !important;
  color: {{ settings.footer_link_colour }};
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;  
  border: none;
  }

/* paying for your order */ 
#payment p.sst{
  margin-bottom: 0;
  }

.sst .gleft{
  width: 30%;
  }
#credit-card-info.gright{
  margin: 0 0 0 10px;
  float: left;
  }

#payment-methods li{
  border-bottom: dotted 1px {{ settings.content_secondary_colour }};  
  }



/* Next/Prev Step */
#buttons{
  clear: both;
  background: {{ settings.footer_bg_colour }};
  color: {{ settings.footer_txt_colour }};
  border: none;
  }
#buttons a{ color: {{ settings.footer_link_colour }};}
#buttons a:hover{ color: {{ settings.footer_link_hover_colour }};}

#buttons small{ font-size: 12px; }

#buttons input{ font-size: 13px; }
#buttons #commit-button,
#buttons #complete-purchase{
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 10px 4px 10px;
  text-decoration: none;  
  font-weight: bold;
  font-family: {{settings.general_font}};
  text-align: center;
  cursor: pointer;
  border: solid 1px {{settings.btn_hover_colour}};
  background: {{settings.btn_hover_colour}} url({{ 'btn-small-depth.png' | asset_url }}) 0 100% repeat-x;
  color: {{settings.btn_hover_text_colour}};

  }
#buttons #commit-button:hover,
#buttons #complete-purchase:hover{
  background: {{settings.btn_colour}} url({{ 'btn-small-depth.png' | asset_url }}) 0 100% repeat-x;
  border: solid 1px {{settings.btn_colour}};
  color: {{settings.btn_text_colour}};
  }


/** 
 * Footer 
 */
 #footer{
  clear: both;
  padding: 15px 0 0 0;
  color: {{ settings.footer_txt_colour }};
  }
#footer a{ color: {{ settings.footer_link_colour }};}
#footer a:hover{ color: {{ settings.footer_link_hover_colour }};}


/* ------------------------------------------------ Responsive Design Queries ----------------------------------------- */
/* iPhone */
@media only screen and (min-width: 320px) and (max-width : 568px) {
	body {
		padding: 0 0 20px 0;
	}
	
	div#header {
		margin: 0 0 10px 0;
		border-bottom: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
	}
	
	div#logo {
		width: 100%;
		text-align: center;
		background: url({{ 'logo.png' | asset_url }}) 50% 70% no-repeat;
		margin: 0;
	}
	
	div#container {
		width: 100%;
	}
	
	div#content {
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
	}
	
	.form {
		margin-bottom: 10px;
	}
	
	#content form {
		padding: 0;
	}
	
	/* Email section */
	div#email {
		width: 94%;
		padding: 3%;
	}
	
	#email input {
		width: 100%;
	}
	
	div.group {
		width: 94%;
		padding: 3%;
	}
	
	#addresses .gleft {
		width: 100%;
		border: none;
		padding: 0;
	}
	
	#addresses .gright {
		float: left;
		width: 100%;
	}
	
	.form td input {
		width: 95%;
	}
	
	.form td input.short {
		width: 95%;
	}
	
	div#overview {
		width: 100%;
	}
	
	#overview #wallet {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
}

/* ----------- iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 568px) and (max-width: 1024px) {
	#container {
		width: 560px;
		padding: 0;
		margin: auto;
	}
	
	div#email {
		width: 480px;
	}
	
	#email input {
		width: 100%;
	}
	
	div#overview {
		float: left;
		width: 480px;
		margin: 30px 0 10px 30px;
	}
	
	#overview #wallet {
		width: 460px;
	}
	
	#addresses {
		width: 480px;
	}
	
	#addresses .gleft {
		width: 100%;
		border: none;
	}
	
	#addresses .gright {
		float: left;
		width: 100%;
	}
	
	.form {
		margin-bottom: 10px;
	}
	
	.form td input {
		width: 100%;
	}
	
	.form td input.short {
		width: 100%;
	}
}