<div id="col-main" class="opportunity">
	<div id="page-header">
    <h2 id="page-title">{{ page.title }}</h2>	
  </div>
  
	<img src="{{ 'opportunity.png' || asset_url }}" alt="" />
</div>

<div id="col-main" class="opportunity" style="margin-top: 56px;">

  {{ page.content }}
  
</div><!-- /#col-main -->